//*======== header css start =======*//
header {
    .header-top {
        padding: 15px 0;
        position: relative;
        background: #eef1f3;
        .top-item {
            @extend %flex;
            align-items: center;
            justify-content: space-between;
            .header-logo {
               img {
                   height: 40px;
               }
            }
            .header-point {
                button {
                    background: none;
                    &:focus {
                        outline: none;
                    }
                   
                }
                &:hover {
                    .sub-menu {
                        transform: translateY(0);
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .sub-menu {
                    position: absolute;
                    top: 100%;
                    background: #ffffff;
                    padding: 0;
                    transform: translateY(35px);
                    opacity: 0;
                    visibility: hidden;
                    transition: all ease 0.3s;
                    box-shadow: 0 0 10px rgba(0, 0, 0, .18);
                    ul.drop-list {
                        margin: 0;
                        padding: 10px;
                        list-style: none;
                        li {
                            padding-bottom: 5px;
                            &:last-child {
                                padding-bottom: 0;
                            }
                            span.title {
                                color: #000;
                                display: block;
                                padding-bottom: 5px;
                                border-bottom: 1px solid #333;
                            }
                            a {
                                color: #000;
                            }
                        }
                    }
                }
            }
            .top-menu {
                ul.list-menu {
                    list-style: none;
                    @extend %flex;
                    padding: 0;
                    margin: 0;
                    align-items: center;
                    li {
                        margin: 0 10px;
                        a {
                            color: #000;
                            font-size: 14px;
                            padding: 2px 10px 4px;
                            border-radius: 4px;
                            position: relative;
                            border: 1px solid $theme-color;
                            transition: all 0.3s ease-in-out;
                            &::after {
                                @extend %absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                width: 100%;
                                transform: scale(0);
                                background: $theme-color;
                                transition: all 0.3s ease-in-out;
                            }
                           & span {
                                color: #000;
                                z-index: 1;
                                position: relative;
                            }
                            &:hover {
                                &::after {
                                    transform: scale(1);
                                }
                                & span {
                                    color: $white-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .header-bottom {
        position: relative;
        padding: 15px 0;
        .bottom-item {
            ul.menu-list {
                padding: 0;
                margin: 0;
                list-style: none;
                @extend %flex;
                justify-content: flex-start;
                align-items: center;
                li {
                    a {
                        color: #000;
                        padding: 5px 10px;
                    }
                    &:hover {
                        .sub-menu {
                            opacity: 1;
                            transform: translateY(0);
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

.sub-menu {
    display: none;
    @include breakpoint (lg) {
        position: absolute;
        top: 100%;
        background: #ffffff;
        padding: 0;
        transform: translateY(35px);
        opacity: 0;
        visibility: hidden;
        transition: all ease 0.3s;
        z-index: 111;
        box-shadow: 0 0 10px rgba(0, 0, 0, .18);
    }
    ul.drop-list {
        margin: 0;
        padding: 10px;
        list-style: none;
        li {
            padding-bottom: 5px;
            &:last-child {
                padding-bottom: 0;
            }
            span.title {
                color: #000;
                display: block;
                padding-bottom: 5px;
                border-bottom: 1px solid #333;
            }
            a {
                color: #000;
            }
        }
    }
}
//*======== header css ends  =======*//